{% extends "blog/base.html" %}


{% block title %}Add a comment{% endblock %}




{% block content %}
{% if comment %}
<div class="clear"> </div>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Your comment has been added!</h4>
            <p></p>
        <hr>
        
        <p><a href="{{ post.get_absolute_url }}" class="btn btn-primary">Back to the post</a></p>
  </div>
  
{% else %}
    {% include "blog/post/comment_from.html" %}
{% endif %}
{% endblock %}