{% extends "blog/base.html" %}
{% load static %}


{% block title %}{{ post.title }}{% endblock %}


{% block content %}
<div class="clear"> </div>
<!-- content-gallery-->
</div>
<div class="wrap">
    <div class="about">
        <div class="services-sidebar">
        <h4>Categories</h4>
        <ul>
            <li><img src="images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><img src="images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><img src="images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><img src="images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><img src="images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><img src="images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><img src="images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><img src="images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
            <li><img src="images/pointer.png" title="pointer" /><a href="#">Lorem ipsum dolor sit amet</a></li>
        </ul><br>
        <h4>Archives</h4>
        <ul>
            <li><img src="images/pointer.png" title="pointer" /><a href="#">Jan, 2012</a></li>
            <li><img src="images/pointer.png" title="pointer" /><a href="#">Feb, 2012</a></li>
            <li><img src="images/pointer.png" title="pointer" /><a href="#">March, 2012</a></li>
            <li><img src="images/pointer.png" title="pointer" /><a href="#">April, 2012</a></li>
        </ul>
    </div>
        <div class="bloder-content">
            
    <div class="blog-box1">
        <div class="blog-box-image">
            {% if post.images %}
                <img src="{{ post.images.url }}" title="{{ post.title }}" />
            {% else %}
                <img src="{% static 'images/no-image-available.jpg' %}" title="No Image Available" />
            {% endif %}
        </div>
        <div class="blog-box-content">
            <h5><a href="#">{{ post.title }}</a></h5>
            <p>{{ post.body }}</p>
            <ul>
                <li><a href="#">Published by {{ post.author }}</a></li>
                <li><a href="#">: {{ post.publish }}</a></li>
                {% with comments.count as total_comments %}
                    <h2>
                        <span style="margin-left: 20px;">
                            <p>{{ total_comments }} comment{{ total_comments|pluralize }}</p>
                        </span>
                    </h2>
                {% endwith %}
                    <div class="row">
                        <div class="col-8">
                        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0" style="width: 750px;">
                            {% for comment in comments %}
                            <h4 id="list-item-1">{{ comment.name }}</h4>
                            <h7 style="color: blue;">{{ comment.created }}</h7> 
                            <p>{{ comment.body|truncatewords:50}}</p>
                                {% if comment.body|length > 50 %}
                                    <div class="btn-group dropend">
                                        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            Read all
                                        </button>                       
                                        <ul class="dropdown-menu" style="width: 800px;">
                                            <div class="col-8">
                                                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                                                  <div id="item-1">
                                                    <h4>Comment author: {{ comment.name }}</h4>
                                                        <div class="container">
                                                            <p>{{ comment.body|truncatewords:1000}}</p>
                                                        </div>
                                              </div>
                                        </ul>
                                    </div>
                                    <p></p>
                                {% endif %}
                            {% empty %}
                                <p>Tere are no comets yet.</p>                         
                            {% endfor %}
                        </div>
                        </div>
                    </div>
                {% include "blog/post/includes/comment_form.html" %}
                <li><a href="{% url 'blog:post_share' post.id %}"><span>Share this post</span></a></li>
            </ul>
        </div>
    </div>					
        <div class="clear"> </div>
    </div>	
</div>
</div>	
<div class="clear"> </div>
			<!-- End-content-gallery-->
{% endblock %}

